[submodule "lib/connext-integration"]
	path = lib/connext-integration
	url = https://github.com/connext/connext-integration
[submodule "lib/allo"]
	path = lib/allo
	url = https://github.com/allo-protocol/allo-v2
[submodule "lib/allo-v2"]
	path = lib/allo-v2
	url = https://github.com/allo-protocol/allo-v2
